<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>

<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>



<div class="container">
  <h2>Detalles del usuario</h2> 
   <div class="panel panel-default">
		 <div class="panel-heading">DNI</div>
		 <div class="panel-body" th:text="${user.dni}" >
			12345678A
		 </div>
	</div>                                                                           
  <div class="panel panel-default">
	  <div class="panel-heading">Descripción</div>
	  <div class="panel-body" th:text="${user.name}">
		Nombre:
	  </div>
  </div>
  <div class="panel panel-default">
	  <div class="panel-heading">Puntuación</div>
	  <div class="panel-body" th:text="${user.lastName}">
		Apellidos:
	  </div>
  </div>
</div>

<footer th:replace="fragments/footer"/>

</body>
</html>
