<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{viewusers.title}"></h2>
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					placeholder="Buscar por dni o nombre del usuario">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>

		<p th:text="#{viewusers.message}">Los usuarios que actualmente
			figuran en el sistema son los siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Email</th>
						<th>Nombre</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.email}">aaa@bbb.com</td>
						<td th:text="${user.name}">Nombre</td>

						<td th:id="${'tdb' + user.id}">
								<button type="button" th:text="#{btn.adduser}" th:id="${'invitationButton' + user.id}"
									class="btn btn-info">Agregar Amigo</button>
								<script th:inline="javascript">
								  /*<![CDATA[*/
								  $( "#invitationButton[[${user.id}]]" ).click(function() {
									  $.get( "/invitation/agergate/[[${user.id}]]");
									  $("#invitationButton[[${user.id}]]").hide();
									  $("#tdb[[${user.id}]]").append("<p> Usuario ya invitado / User already invited </p>");
									 // alert("Invitacion de amistad enviada");
								  });
								  /*]]>*/
								</script>
					</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>

